/* The device with borders */

.smartphone {
	position: relative;
	width: 100%;
	height: 100%;
	margin: auto;
	border: 16px black solid;
	border-top-width: 16px;
	border-bottom-width: 16px;
	border-radius: 36px;
}


/* The circle on the bottom of the device */

#screenshot-button {
	content: '';
	display: block;
	width: 50px;
	height: 50px;
	position: absolute;
	left: 50%;
	bottom: -15px;
	transform: translate(-50%, -50%);
	background: #333;
	border-radius: 50%;
}

#measurement-header{
		background-color: black;
		text-align: center;
		font-weight: bold;
		font-size: initial;
}

#brand-header{
		background-color: black;
		text-align: left;
		font-weight: bold;
		font-size: initial;
}

#brand-record{
    text-align: left;
    font-size: initial;
}

#timer-text {
	width: 100%;
	height: 100%;
	font-size: 150px;
	text-align: center;
	padding-top: 100%;
	color: #ffffff9e;
	text-shadow: 12px -5px 0px #d7d7d747, 1px -1px 0 #ffffff, -1px 1px 0 #fff, 1px 1px 0 #fff;
	position: relative;
	opacity: 80%;
}

#play-button {
	content: '';
	display: block;
	width: 50px;
	height: 50px;
	position: absolute;
	left: 75%;
	bottom: -15px;
	transform: translate(-50%, -50%);
	background: #333;
	border-radius: 50%;
}

#overlay {
	position: absolute;
	display: block;
	width: -webkit-fill-available;
	height: inherit;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	cursor: pointer;
	overflow: hidden;
}

#overlay-img-front {
	width: 100% !important;
	height: 100% !important;
	position: absolute;
	object-fit: contain;
	display: none;
}

#overlay-img-side-male {
	width: 100% !important;
	height: 100% !important;
	position: absolute;
	object-fit: contain;
	display: none;
}

#overlay-img-side-female {
	width: 100% !important;
	height: 100% !important;
	position: absolute;
	object-fit: contain;
	display: none;
}

img {
	max-width: 100% !important;
	/*/height: 100% !important;*/
}


/* The screen (or content) of the device */

.smartphone .content {
	box-sizing: border-box;
	height: 100%;
	overflow: hidden;
	width: 100%;
}

#video_screen {
	/*height: 100%; width: 100%;*/
height: -webkit-fill-available!important;
		width: initial!important;
		display: -webkit-box!important;
	position: relative!important;
}


/* Media Query for Mobile Devices */

@media (max-width: 480px) {
	.smartphone {
		width: auto;
		border: hidden;
	}
	#video_screen {
		height: -webkit-fill-available!important;
		    width: 100% !important;
		display: -webkit-box!important;
	}
}


/* Media Query for low resolution  Tablets, Ipads */

@media (min-width: 481px) and (max-width: 767px) {
	.smartphone {
		width: auto;
		border: hidden;
	}
	#video_screen {
		/* transform: scaleY(1.1); */
		height: -webkit-fill-available!important;
		width: 100%!important;
		display: -webkit-box!important;
	}
}


/* Media Query for Tablets Ipads portrait mode */

@media (min-width: 768px) and (max-width: 1024px) {
	.smartphone {
		width: auto;
		border: hidden;
	}
	#video_screen {
		/* transform: scaleY(1.1); */
		height: -webkit-fill-available!important;
		width: initial!important;
		display: -webkit-box!important;
	}
}


/* Media Query for Laptops and Desktops */

@media (min-width: 1025px) and (max-width: 1280px) {}


/* Media Query for Large screens */

@media (min-width: 1281px) {}


}
thead {
	display: table-header-group
}
tfoot {
	display: table-row-group
}
tr {
	page-break-inside: avoid
}