/* The device with borders */
.smartphone {
  position: relative;
  width: 65%;
  height: 100%;
  margin: auto;
  border: 16px black solid;
  border-top-width: 16px;
  border-bottom-width: 16px;
  border-radius: 36px;
}

/* The circle on the bottom of the device */
#screenshot-button {
    content: '';
    display: block;
    width: 75px;
    height: 75px;
    position: absolute;
    left: 50%;
    bottom: -40px;
    transform: translate(-50%, -50%);
    background: #ffffff00 url(../images/capture.png);
    border: none;
    background-size: cover;
}

#play-button {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 90%;
    bottom: -15px;
    transform: translate(-50%, -50%);
    background: #ffffff00 url(../images/Flip.png);
    border: none;
    background-size: cover;
}

#overlay {
	position: absolute;
    display: block;
    width: -webkit-fill-available;
    height: inherit;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;    
    z-index: 0;
    cursor: pointer;
    overflow: hidden;
}
#overlay-img{	
	width: inherit;
    height: inherit;
    position: absolute;
    object-fit: contain;
	display:none;
}

/* The screen (or content) of the device */
.smartphone .content {  
 box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

#video_screen {
    /* transform: scaleY(1.1); */
	height: auto;
    width: inherit;
    display: -webkit-box;
}


/* Media Query for Mobile Devices */ 
        @media (max-width: 480px) { 
        .smartphone 
			{ 
				width: auto ;
				border: hidden;
            } 
			#video_screen {
    /* transform: scaleY(1.1); */
    height: -webkit-fill-available;
    width: initial;
    display: -webkit-box;
}
        } 
          
        /* Media Query for low resolution  Tablets, Ipads */ 
        @media (min-width: 481px) and (max-width: 767px) { 
            .smartphone 
			{ 
				width: auto ;
				border: hidden;
            } 
			#video_screen {
    /* transform: scaleY(1.1); */
    height: -webkit-fill-available;
    width: initial;
    display: -webkit-box;
}
        } 
          
        /* Media Query for Tablets Ipads portrait mode */ 
        @media (min-width: 768px) and (max-width: 1024px){
            .smartphone 
			{ 
				width: auto ;
				border: hidden;
            }
			#video_screen {
    /* transform: scaleY(1.1); */
    height: -webkit-fill-available;
    width: initial;
    display: -webkit-box;
}
        }
          
/*        /* Media Query for Laptops and Desktops */ 
        @media (min-width: 1025px) and (max-width: 1280px){ 
        }
          
        /* Media Query for Large screens */ 
        @media (min-width: 1281px) { 
			}
        } */
